.login-card {
  padding: 40px;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 20vh;
  overflow: hidden;
}

.login-field {
  width: 100%;
  margin: 0;
}

.login-card-header {
  height: 50pt;
  width: inherit;
}

.login-card-title {
  float: left;
}

.register-slider {
  float: right;
}
