<div>
  <div class="filters">
    <app-article-chip-filter (selectedTagsChangedEvent)='selectedTagsChanged($event)'></app-article-chip-filter>
  </div>
  <div>
    <mat-spinner *ngIf="loading" class="loading-spinner"></mat-spinner>
    <div *ngFor="let article of articles" class="article-card">
      <app-article-card [article]="article" [assignedTags]="assignedTags" [isFavourited]="getFavouriteStatus(article.id)"></app-article-card>
    </div>
    <button mat-fab *ngIf="isAdmin" color="primary" class="button-add" routerLink="/articles/edit">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
