// @import "/src/styles.scss";
// @use '~@angular/material' as mat;

.chat-card {
  height: fit-content;
  flex-direction: column;
  width: 50%;
  margin: 10pt;
}

.chat-list {
  height: 400pt;
  max-height: 400pt;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-list::-webkit-scrollbar {
  display: none;
}

.mat-list-item {
  margin: 5pt;
  position: relative;
  height: fit-content;
}

.mat-list-item-content {
  padding: 0;
}

.chat-input{
  width: 100%;
}

.chat-message {
  padding: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  word-wrap: break-word;
  min-height: 7.5pt;
  height: fit-content;
  width: auto;
  max-width: 80%;
  border-radius: 15pt;
}

.chat-message-own {
  margin-right: 0pt;
  margin-left: auto;
  border-bottom-right-radius: 0pt;
  // background-color: map-get($knowl3dge-webapp-primary, A400);
  background-color: #4855b2;
  color: whitesmoke;
}

.chat-message-other {
  margin-left: 0pt;
  margin-right: auto;
  border-bottom-left-radius: 0pt;
  background-color: lightgrey;
}
