.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-name {
  cursor: pointer;
}

.header-content {
  float: right;
  position: fixed;
  right: 10pt;
  padding: 10pt;
}

.login-button {
  margin: 0 5pt 0 5pt;
}

.login-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.username {
  margin: 0 10pt 0 10pt;
}
