<mat-card class="home-container">
  <h1>Home page</h1>
  <h2>
    Welcome to KNOWL3DGE!
  </h2>
  <p>
    Here you can find a bunch of articles about all your 3D printing problems. If you're a creator, you can also share
    new articles with the community.
    To help people with finding good-quality articles, you can give each article a favourite if you think they deserve
    that.
  </p>
  <br>
  <h3>Live chat</h3>
  <p>
    For problems not listed in our articles, there's always the live chat where fellow users can help you with any
    problem
    you can think of.
  </p>
</mat-card>
