<mat-card class="article-card">
  <mat-card-title [routerLink]="['/articles', article.id]"> {{ article.title }} </mat-card-title>
  <mat-card-content *ngIf="article.content">
    <p>{{ article.content }}</p>
  </mat-card-content>
  <div class="chipList">
    <mat-chip-list *ngIf="checkForTags(article.id)">
      <mat-chip *ngFor="let assignedTag of checkForTags(article.id)">{{ assignedTag.tagId?.name }}</mat-chip>
    </mat-chip-list>
  </div>
  <mat-divider inset></mat-divider>
  <mat-card-actions class="button-shelf">
    <button mat-button [routerLink]="['/articles', article.id]" *ngIf="!isDetailsPage">
      Learn more
    </button>
    <button mat-button *ngIf="isAdmin" [routerLink]="['/articles/edit', article.id]">
      Edit
    </button>
    <button mat-icon-button class="fav-button" (click)="favouriteClicked()">
      <mat-icon *ngIf="isFavourited" color=accent>favorite</mat-icon>
      <mat-icon *ngIf="!isFavourited" color=accent>favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
